/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 140%;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-size: 16px;
  --body-strong-font-style: normal;
  --body-strong-font-weight: 600;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 140%;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000762939453%;
  --m3syslighton-surface: rgba(230, 224, 233, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 140%;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-size: 16px;
  --body-strong-font-style: normal;
  --body-strong-font-weight: 600;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 140%;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000762939453%;
  --m3syslighton-surface: rgba(230, 224, 233, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 140%;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-size: 16px;
  --body-strong-font-style: normal;
  --body-strong-font-weight: 600;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 140%;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000762939453%;
  --m3syslighton-surface: rgba(230, 224, 233, 1);
}

/* The end of the injected content. */

/* This snippet is injected by Anima. Feel free to delete this comment. */

:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 140%;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-size: 16px;
  --body-strong-font-style: normal;
  --body-strong-font-weight: 600;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 140%;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000762939453%;
  --m3syslighton-surface: rgba(230, 224, 233, 1);
}

/* The end of the injected content. */

:root {
  --body-base-font-family: "Inter", Helvetica;
  --body-base-font-size: 16px;
  --body-base-font-style: normal;
  --body-base-font-weight: 400;
  --body-base-letter-spacing: 0px;
  --body-base-line-height: 140%;
  --body-strong-font-family: "Inter", Helvetica;
  --body-strong-font-size: 16px;
  --body-strong-font-style: normal;
  --body-strong-font-weight: 600;
  --body-strong-letter-spacing: 0px;
  --body-strong-line-height: 140%;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-size: 24px;
  --heading-font-style: normal;
  --heading-font-weight: 600;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000762939453%;
  --m3syslighton-surface: rgba(230, 224, 233, 1);
}
