.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 380px;
    height: 253px;
    right: -357px;
    top: 500px;
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px black;
    height: 100%;
    width: 100%;

}

.slide-hidden {
    display: none;
}

.arrow-carousel {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: white;
    box-shadow: 0px 0px 10px black;
}

.arrow-left {
    left: 1rem;
}

.arrow-right {
    right: 1rem;
}

.indicators {
    display: flex;
    position: absolute;
    bottom: 1rem;

}

.indicator {
    background-color: white;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive {
    background-color: gray;
}